<h3 style="color: blue;">
    {{ titulo }}
</h3>

<h3>Selector de Colores</h3>
<input type="text" [(ngModel)]="Color_Seleccionador">

<button (click)="logColorSeleccionado()">Mostrar el color</button>
<pre [style.border]="Color_Seleccionador == 'red' ? '1px solid black' : '1px solid black'"
[ngClass]="{
    fondoAzul: Color_Seleccionador == 'blue',
    fondoCoral: Color_Seleccionador == 'coral'
}"
>
    <strong>Color Seleccionado: </strong>
    {{ Color_Seleccionador }}
</pre>

<div [ngStyle]="{
    'background-color': Color_Seleccionador,
    'width': '200px',
    'height': '200',
    'float': 'right',
    'margin.right': '69%'
}"></div>

<div style="clear:both"></div>

<hr>

<h3>Colores Switch</h3>

<ul [ngSwitch]="Color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        'background-color': Color,
        'color': 'white',
        'padding': '20px'
    }">
        Es de color Rojo
    </li>

    <li *ngSwitchCase="'black'" [ngStyle]="{
        'background-color': Color,
        'color': 'white',
        'padding': '20px'
    }">
        Es de color Rojo
    </li>

    <li *ngSwitchCase="'blue'" [ngStyle]="{
        'background-color': Color,
        'color': 'white',
        'padding': '20px'
    }">
        Es de color Azul
    </li>
</ul>
<hr>

<p>
    <strong>
        Empleado Estrella
    </strong>
</p>

<div *ngIf="Trabajador_Externo == true">
    <button (click)="cambiarExterno(false)">Mostral Trabajador</button>
    <ul>
        <li>{{ Trabajadores[0].Nombre }}</li>
        <li>{{ Trabajadores[1].Edad }}</li>
        <li>{{ Trabajadores[2].Cargo }}</li>
        <li *ngIf="Trabajadores[0].Contratado == true">Esta Contratado</li>
        <li *ngIf="Trabajadores[1].Contratado == false">No esta Contratado</li>
    </ul>
</div>

<div *ngIf="Trabajador_Externo == false">
    <button (click)="cambiarExterno(true)">Mostrar Empleado</button>
    <ul>
        <li>{{ Empleado.Nombre }}</li>
        <li>{{ Empleado.Edad }}</li>
        <li>{{ Empleado.Cargo }}</li>
        <li *ngIf="Empleado.Contratado == true">Esta Contratado</li>
        <li *ngIf="Empleado.Contratado == false">No esta Contratado</li>
    </ul>
</div>

<hr>

<div>
    <h3>Listado de Empleado</h3>

    <ul>
        <li *ngFor="let Empleado of Trabajadores; let i = index">
            <strong>Empleado {{ i + 1}}</strong>
            <ul>
                <li>{{ Empleado.Nombre }}</li>
                <li>{{ Empleado.Edad }}</li>
                <li>{{ Empleado.Cargo }}</li>
                <li *ngIf="Empleado.Contratado == true">Esta contratado</li>
                <li *ngIf="Empleado.Contratado == false">No esta Contratado</li>
            </ul>
        </li>
    </ul>
</div>