h2{
    color: blue;
}

h3{
    color: red;
}

.FondoAzul{
    background: lightblue !important;
}

.FondoRojo{
    background: red !important;
}

.letraGrande{
    font-size: 20px;
}

.activado{
    font-weight: bold;
    background: skyblue;
}

h4{
    color: blue;
}

strong{
    color: red;
}