.fondoAzul{
    background: lightblue !important;
}

.fondoCoral{
    background: lightcoral !important;
}

.activado{
    font-weight: bold;
    background: red;
}

h2{
    color: blue;
}

h3, h4{
    color: rgba(224, 49, 55, 0.67);
}